

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

html {
  background-color: #343a40;  
}

.slider-container img {
  display: block;
  margin: 0 auto;
}
.slider-container {
  overflow: initial;
}

input.custom-placeholder::placeholder {
  color: grey;
  opacity: 1; /* Override any default styles that might set opacity to less than 1 */
}

.pagination.bg-dark .page-link {
  background-color: #343a40; /* Bootstrap dark background */
  border-color: #454d55; /* Slightly lighter border for contrast */
  color: #ffffff; /* White text */
}

.pagination.bg-dark .page-link:hover {
  background-color: #454d55; /* Slightly lighter background on hover */
}

.bg-myColor {
  background-image: linear-gradient(to right,#000516c9,#011c67 )
  }


  .slick-dots li.slick-active button:before {
    color:White !important;
  }


  body {
    margin: 0;
    padding: 0;
    background-color: #004882;
  }
  
  .box select {
    background-color: #2a2a2e;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .thumbail img:hover {
    box-shadow: 0 0 20px rgb(51, 36, 255, 2);
    transform: scale(1.1);
    transition: 0.3s;
    z-index: 102;
  }
  .thumbail img {
    transition: 0.45s;
  }


  .player:hover {
    box-shadow: 0 0 20px rgb(51, 36, 255);
    transform: scale(1.005);
    transition: 0.3s;
    z-index: 102;
  }

  .player {
    transition: 0.45s;
  }

  .scrollwheel {
    box-shadow: 0 0 10px rgb(23, 23, 27);

  }

  .wheelimg img:hover {
    box-shadow: 0 0 20px rgb(51, 36, 255);
    transform: scale(1.005);
    transition: 0.3s;
    z-index: 102;
  }

  .profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }